{:paths ["src/core"]


 :deps
 {
  caesium/caesium       {:mvn/version "0.13.0"}
  cheshire/cheshire     {:mvn/version "5.10.0"}
  clj-http/clj-http     {:mvn/version "3.10.1"}
  org.clojure/tools.cli {:mvn/version "1.0.194"}
  }


 :aliases
 {:test
  {:extra-paths ["src/test"]}


  :test-runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
   :main-opts  ["-m" "cognitect.test-runner"
                "-d" "src/test"]}}
 }
